* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  padding: 3rem;
  /* font-size: 1.6rem; */
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  box-sizing: border-box;
}
