body {
  font-family: "Lato", sans-serif;
  padding: 3rem;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  font-weight: 400;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  &--main {
    font-size: 6rem;
    display: block;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
  }

  &--sub {
    font-size: 2rem;
    display: block;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 2s;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all ease-in-out 0.2s;
  text-align: center;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.about {
  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}
