.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.25s;
    position: relative;
    font-size: 1.6rem;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &:after {
      opacity: 0;
      transform: scaleX(1.4) scaleY(1.6);
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &:after {
    content: "";
    background-color: $color-white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s;
  }
  &--white {
    color: $color-grey-dark;
    background-color: $color-white;
    &:after {
      background-color: $color-white;
    }
  }
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  font-weight: 700;
  &:link,
  &:visited {
    font-size: $default-fz;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-primary;
    padding: 0.3rem;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rga($color-black, 0.2);
  }
}
