.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width: 100%;

  &__side {
    background-color: $color-primary;
    color: $color-white;
    font-size: 2rem;
    height: 52rem;
    width: 100%;
    transition: all ease 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;

    &--front {
      background-color: $color-white;
      color: $color-grey-dark;
      z-index: 2;
    }

    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &__only {
    font-weight: 300;
    font-size: 3rem;
  }

  &__value {
    font-size: 5rem;
    font-weight: 200;
    margin-bottom: 3rem;
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__image {
    height: 23rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }
  &__title {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 300;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    text-align: right;
  }

  &__title-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.6),
        rgba($color-secondary-dark, 0.6)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.6),
        rgba($color-primary-dark, 0.6)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.6),
        rgba($color-tertiary-dark, 0.6)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style-type: none;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      li {
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light;
        }
      }
    }
  }
}

@media (max-width: $md-min) {
  .section-feature {
    .feature {
      .feature-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: $sm-min) {
  .card {
    width: 50%;
  }
}

@media (max-width: $xs-min) {
  .card {
    width: 70%;
  }
}
