.card {
  perspective: 150rem;
  -moz-perspective: 150rem;

  &__side {
    background-color: $color-primary;
    color: $color-white;
    font-size: 2rem;
    height: 50rem;
    width: 20rem;
    transition: all 0.8s;

    &--front {
    }

    &--back {
      background-color: #fff;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }
}
