.card {
  perspective: 150rem;

  height: 50rem;
  background-color: $color-primary;
  width: 20rem;
  transition: all 0.8s;

  &__text {
    color: $color-white;
    font-size: 2rem;
  }

  &:hover {
    transform: rotateY(180deg);
  }
}
