.composition {
  position: relative;
  &__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p1 {
      left: 0;
      top: -2rem;
    }
  }
}
