.composition {
  position: relative;
  &__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 1.5rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: $color-primary solid 1rem;
      z-index: 20;
      transform: translateY(0.5rem) scale(1.05);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

@media (max-width: $xs-min) {
  .composition {
    &__photo {
      &--p1 {
        left: -5rem;
        top: 3rem;
      }

      &--p2 {
        right: 0;
        top: 2rem;
      }

      &--p3 {
        left: 20%;
        top: 10rem;
      }
    }
  }
}
