.form {
  font-family: inherit;
  &__group {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__input {
    display: block;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
  }

  &__label {
  }
}
