.navigation {
  &__checkbox {
  }

  &__button {
  }

  &__bg {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
  }

  &__nav {
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }
}
