.testimonial-item {
  &__card {
    background-color: rgba($color-white, 0.5);
    width: 75%;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    margin: 0 auto;
    transform: skewX(-12deg);
    display: flex;
    padding: 3rem;
    font-size: $default-fz;

    & > * {
      transform: skewX(12deg);
    }
  }
}
