.testimonial-item {
  &__card {
    background-color: rgba($color-white, 0.5);
    width: 75%;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    margin: 0 auto;
    transform: skewX(-12deg);
    padding: 3rem;
    font-size: $default-fz;
    display: flex;

    & > * {
      transform: skewX(12deg);
    }
  }

  &__avatar {
    width: 50%;
    display: inline-block;
    height: 15rem;
    background-color: green;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
  }

  &__desc {
    width: 100%;
  }
}
