.testimonial-item {
  &__card {
    background-color: rgba($color-white, 0.5);
    width: 75%;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    margin: 0 auto;
    transform: skewX(-12deg);
    padding: 6rem;
    font-size: $default-fz;
    padding-left: 9rem;
  }

  &__avatar {
    float: left;
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    -webkit-shape-ouiside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    transform: translate(-50%, 20%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }

  &:hover &__image {
    transform: scale(0.8);
    filter: blur(3px) brightness(80%);
  }

  &__comment {
    width: 100%;
    transform: skewX(12deg);
  }

  &__image {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    object-fit: cover;
    transition: all 0.5s ease;
  }
}
