.about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__text {
    width: 50%;
    max-width: 48%;
  }

  &__images {
    width: 50%;
  }
}

.section-feature {
  padding: 25rem 0;

  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.801),
      rgba($color-primary-dark, 0.801)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
  & > * {
    transform: skewY(7deg);
  }
  .feature {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
}

.section-tour {
  margin-top: -10rem;
  padding: 20rem 0;
  background-color: $color-grey-light;

  .tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
}

.section-testimonial {
  padding: 15rem 0;
  position: relative;
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
.booking {
  display: flex;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.75) 0%,
      rgba($color-white, 0.75) 65%,
      transparent 35%
    ),
    url(../img/nat-10.jpg);

  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  &__form {
    width: 70%;
    padding: 5rem;
    .heading-secondary {
      text-align: left;
    }
  }
}

@media (max-width: $md-min) {
  .section-feature {
    .feature {
      .feature-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: $sm-min) {
  .section-feature {
    padding: 1 5rem 0;
    .feature {
      flex-wrap: wrap;

      .feature-item {
        width: 70%;
      }
    }
  }
}
