.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;
}

.about {
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__text {
    width: 50%;
    max-width: 40%;
  }

  &__images {
    width: 50%;
  }
}
