.footer {
  padding: 10rem 0;
  background-color: $color-black;

  &__logo {
    text-align: center;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    color: $color-white;
    font-size: $default-fz;
    justify-content: space-between;
  }

  &__navigation {
    width: 50%;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__copyright {
    width: 50%;
  }
}
