.footer {
  padding: 10rem 0;
  background-color: $color-black;

  &__logo {
    text-align: center;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    color: $color-white;
    font-size: $default-fz;
    justify-content: space-between;
    gap: 3rem;
  }

  &__navigation {
    width: 50%;
  }

  &__list {
    align-items: center;
    position: relative;
    display: inline-block;
    margin-top: 1rem;

    &::before {
      content: "";
      display: block;
      background-color: $color-grey-dark;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      margin-top: 1rem;
    }
  }

  &__link {
    display: inline-block;
    color: $color-white;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__copyright {
    width: 50%;
  }
}
